#enableBooksSection {
  width: 58vw;
}
.headerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.headerContainerItems {
  margin-left: 10%;
}
#giantText {
  font-size: xx-large;
}
#inputGenre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}
select {
  background-color: rgb(41, 43, 44);
  color: beige;
  width: 15vw;
  border-radius: 3%;
  border: ridge gray;
}
#enableBooksList {
  padding: 5%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.availableListElement {
  display: flex;
  width: 25%;
  height: 50%;
  justify-content: center;
  padding-top: 4%;
}
.availableBooksImageAdded {
  width: 10vw;
  height: 20vh;
  opacity: 0.3;
}
.availableBooksImageUnAdded {
  width: 10vw;
  height: 20vh;
}
@media screen and (max-width: 635px) {
  #enableBooksSection {
    width: 80vw;
  }
  select {
    width: 35vw;
  }
  .availableBooksImageAdded {
    width: 15vw;
    height: 15vh;
  }
  .availableBooksImageUnAdded {
    width: 15vw;
    height: 15vh;
  }
}
@media screen and (max-width: 400px) {
  select {
    width: 50vw;
  }
  .availableBooksImageAdded {
    width: 15vw;
    height: 10vh;
  }
  .availableBooksImageUnAdded {
    width: 15vw;
    height: 10vh;
  }
}
