<section id="enableBooksSection">
  <article>
    <header class="headerContainer">
      <h1 class="headerContainerItems" id="giantText">
        {{availableBooksCounter()}}
        libros disponibles
      </h1>
      <p class="headerContainerItems">
        {{readingListCounter()}}
        en la lista de lectura
      </p>
      <p class="headerContainerItems">
        {{availableBooksForGenreCounter()}}
        libros disponibles del género
      </p>
      <div class="headerContainerItems" id="inputGenre">
        <label for="genre">Género: </label>
        <select id="genre" (change)="onGenreChange($event)">
          <option value="No Seleccionado">No Seleccionado</option>
          <option value="Base de Datos">Base de Datos</option>
          <option value="Node Js">Node Js</option>
          <option value="Python">Python</option>
          <option value="Angular">Angular</option>
        </select>
      </div>
    </header>

    <ul id="enableBooksList">
      <!-- {/* Renderizado de los libros según el género seleccionado. */} -->
      @for (book of booksList(); track book.isbn13) {
        @if (genre()=='No Seleccionado') {
          <li class="availableListElement">
            <img
              [ngClass]="
                book.isAdded
                  ? 'availableBooksImageAdded'
                  : 'availableBooksImageUnAdded'
              "
              src="{{ book.image }}"
              alt="{{ book.title }}"
              (click)="handleBookClick(book.isbn13)"
            />
          </li>
        }@else if (book.genre == genre()) {
            <li class="availableListElement">
              <img
                [ngClass]="
                  book.isAdded
                    ? 'availableBooksImageAdded'
                    : 'availableBooksImageUnAdded'
                "
                src="{{ book.image }}"
                alt="{{ book.title }}"
                (click)="handleBookClick(book.isbn13)"
              />
            </li>
          }
        
      }
    </ul>
  </article>
</section>
