<section id="enableBooksSection">
  <article>
    <header class="headerContainer">
      <h1 class="headerContainerItems" id="giantText">
        <!-- {availableBooksCounter} -->
        libros disponibles
      </h1>
      <p class="headerContainerItems">
        <!-- {readingListCounter} -->
        en la lista de lectura
      </p>
      <p class="headerContainerItems">
        <!--  {availableBooksForGenreCounter} -->
        libros disponibles del género
      </p>
      <div class="headerContainerItems" id="inputGenre">
        <label for="genre">Género: </label>
        <select id="genre" [(ngModel)]="genre" (ngModelChange)="onGenreChange()">
          <option value="No Seleccionado">No Seleccionado</option>
          <option value="Fantasía">Fantasía</option>
          <option value="Ciencia Ficción">Ciencia ficción</option>
          <option value="Zombies">Zombies</option>
          <option value="Terror">Terror</option>
        </select>
      </div>
    </header>

    <ul id="enableBooksList">
      <!-- {/* Renderizado de los libros según el género seleccionado. */} -->
      <!-- {books.map((book) => { if (!genre) { return ( -->
      @for (book of booksList(); track book.isbn13) {
        @if (genre=='No Seleccionado') {
          <li class="availableListElement">
            <img
              [ngClass]="
                book.isAdded
                  ? 'availableBooksImageAdded'
                  : 'availableBooksImageUnAdded'
              "
              src="{{ book.image }}"
              alt="{{ book.title }}"
              (click)="handleBookClick(book.isbn13)"
            />
          </li>
        }@else if (book.genre == genre) {
            <li class="availableListElement">
              <img
                [ngClass]="
                  book.isAdded
                    ? 'availableBooksImageAdded'
                    : 'availableBooksImageUnAdded'
                "
                src="{{ book.image }}"
                alt="{{ book.title }}"
                (click)="handleBookClick(book.isbn13)"
              />
            </li>
          }
        
      }
    </ul>
  </article>
</section>
