<section id="readingBooksSection">
  <article>
    <header>
      <h2>Lista de Lectura</h2>
    </header>
    <ul id="readingBooksList">
      @for (book of booksList.books; track book.isbn13) { @if ( book.isAdded ) {
      <li key="{book.id}" className="readingListElement">
        <img
          className="readingBooksImage"
          src="{{ book.image }}"
          alt="{{ book.title }}"
          (click)="handleUncheckBook(book.isbn13)"
        />
      </li>
      } }
    </ul>
  </article>
</section>
