#readingBooksSection {
  background-color: rgb(43, 53, 61);
  border-radius: 5%;
  width: 30vw;
  height: 70vh;
  overflow-y: scroll;
  border: gray 4px ridge;
}
header {
  text-align: center;
}
.readingBooksImage {
  width: 10vw;
  height: 20vh;
}
#readingBooksSection::-webkit-scrollbar {
  display: none;
}

#readingBooksList {
  padding: 5%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.readingListElement {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  padding-top: 4%;
}
@media screen and (max-width: 635px) {
  #readingBooksSection {
    width: 60vw;
  }
  .readingBooksImage {
    width: 15vw;
    height: 15vh;
  }
}
@media screen and (max-width: 400px) {
  .readingBooksImage {
    width: 15vw;
    height: 10vh;
  }
}
