body {
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.904);
  color: beige;
}
* {
  margin: 0;
  padding: 0;
}
img {
  transform: scale(1);
  filter: brightness(1.2);
  transition: transform 0.3s;
  transition: filter 0.3s;
  filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.5));

}
img:hover {
  transform: scale(1.1);
  filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.8));
}
main {
  display: flex;
  margin: 5vh 2.5vh 0 5vh;
  justify-content: space-between;
  font-family: "Papyrus";
}

@media screen and (max-width: 635px) {
  .appContainer {
    display: flex;
    flex-direction: column;
  }
}
